<div class="about-container columns">
    <div class="column is-4">
        <h1 class="title is-1">About Component</h1>
        <h2 class="title is-1">{{email}}</h2>
        <p class="title is-1" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus optio sequi id dolore, facere saepe cumque? Quos incidunt natus voluptas quam nam eius eligendi fugiat officia nulla veniam saepe mollitia dolorum sapiente, cumque, aperiam tempore corrupti illo eveniet laboriosam dignissimos voluptate a dolor repellat. Quasi, amet veritatis suscipit est delectus.</p>
    </div>
    <div class="is-primary column is-8 about-img-container has-text-centered">
        Image Container
    </div>
</div>
