<div class="about-container" [style.min-height]="_windowDimensionsService.winHeight + 'px'">
    <div class="columns">
        <!--<div class="is-primary column is-8 about-img-container has-text-centered">
            Image Container
        </div>-->
        <div class="column is-12">
            <div class="hero">
                <p class="title is-4 has-text-weight-normal">Hello.</p>
                <p class="title is-4 has-text-weight-normal">My name is Kone Lathipanya. I am a Visual Designer and Front End Developer. I am interested in creating clean minimal designs that engage users. Increase traffic. Brand and logo design. I use animation and cutting edge design tools and utilities. Stay up to date and enjoy constantly learning to keep pace with rapidly changing technologies. I have worked freelance and with non-profit organizations. Graduated with a Bachelor of Science degree from California State University Sacramento. </p>
                <p class="title is-6" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus optio sequi id dolore, facere saepe cumque? Quos incidunt natus voluptas quam nam eius eligendi fugiat officia nulla veniam saepe mollitia dolorum sapiente, cumque, aperiam tempore corrupti illo eveniet laboriosam dignissimos voluptate a dolor repellat. Quasi, amet veritatis suscipit est delectus.</p>
                <div class="block">
                    <div class="level">
                        <div class="level-left">
                            LinkedIn
                        </div>
                        <div class="level-right">
                            Email
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
