<div class="about-container" [style.min-height]="_windowDimensionsService.winHeight + 'px'">
    <div class="columns hero">
        <!--<div class="is-primary column is-8 about-img-container has-text-centered">
            Image Container
        </div>-->
        <div class="column is-12">
            <div class="columns">
                <div class="title-container column is-2 is-offset-1">
                    <p class="title is-1 has-text-weight-semibold">Hello.</p>
                </div>
                <div class="text-container column is-8">
                    <p class="title is-4 has-text-weight-normal">My name is Kone Lathipanya. I am a designer and developer. I graduated from California State University, Sacramento with a Bachelor of Science degree in Graphic Design. I love creating clean minimal designs that excite and engage users. I specialize in identity, interface, and motion design. </p>
                    <p class="title is-4 has-text-weight-normal">In my freetime I like to paint and watch football. Go Steelers! If you have an interesting project <a href="#" class="has-text-weight-semibold">let's talk.</a></p>
                    <div class="block">
                        <div class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item" href="#">
                                    LinkedIn
                                </a>
                                <a class="level-item" href="#">
                                    Instagram
                                </a>
                                <a class="level-item" href="#">
                                    Dribbble
                                </a>
                                <a class="level-item" href="#">
                                    Codepen
                                </a>
                                <a class="level-item" href="#">
                                    Email
                                </a>
                            </div>
                            <div class="level-right">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
