@import './src/assets/sass/base'

.project
  list-style-type: none
  display: block
  width: 30%
  min-width: 220px
  margin: 10% 1%
  float: left
  text-align: center
  overflow: hidden

.projects
  margin-before: 0
  margin-after: 0
  padding-start: 0
  height: 80%

img
  background-color: $black
  width: 100%

a
  &:hover ~ h5
    color: $orange

h5
  position: relative
  bottom: 200px
  transition: color 300ms ease-in-out