<article>
    <div *ngIf="project">
        <h1>{{project.name}} Details</h1>
        <img src="{{project.thumbUrl.url}}" alt="">
        <h1>{{project.category}}</h1>
        <button [routerLink]="['/projects']" [preserveQueryParams]="true">Back</button>
        <button (click)="onNext()">Next</button>
    </div>
    <div class="panel-footer">
        <!--<a class="btn btn-default"
           [routerLink]="['/projects']"
           [preserveQueryParams]="true">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>-->
        <a class="btn btn-default"
           [routerLink]="['/projects']"
           queryParamsHandling="preserve">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a class="btn btn-primary" style="width:80px;margin-left:10px" 
           [routerLink]="['edit']" [preserveQueryParams]="true">
            Edit
        </a>
    </div>
</article>