@import './src/assets/sass/base'

/*.project
  animation-duration: .5s
  animation-fill-mode: forwards
  //animation-name: fadeUp
  //opacity: 0

  &:nth-child(2)
    animation-delay: .1s

  &:nth-child(3)
    animation-delay: .2s

  &:nth-child(4)
    animation-delay: .3s

  &:nth-child(5)
    animation-delay: .4s

  &:nth-child(6)
    animation-delay: .5s*/

.filter
  margin-bottom: 30px

.project-list-container
  height: 0

  .projects
    padding: 0
    margin: 0
    height: 0
                
    .column
      +media ('>tablet')
        width: 30%
      display: block
      padding: 0
      transition: all 0.5s ease-in-out
      position: absolute
      width: 46.25%
      overflow: hidden

    .column0
      +media ('>tablet')
        top: 15%
        left: 2.5%
      top: 17%
      left: 2.5%
    .column1
      +media ('>tablet')
        top: 15%
        left: 35%
      top: 17%
      left: 51.25%
    .column2
      +media ('>tablet')
        top: 15%
        left: 67.5%
      top: 44.66%
      left: 2.5%
    .column3
      +media ('>tablet')
        top: 47.5%
        left: 2.5%
      top: 44.66%
      left: 51.25%
    .column4
      +media ('>tablet')
        top: 47.5%
        left: 35%
      top: 72.33%
      left: 2.5%
    .column5
      +media ('>tablet')
        top: 47.5%
        left: 67.5%
      top: 72.33%
      left: 51.25%

.card
  height: 100%
  box-shadow: none
  &:focus
    outline: none
  @media(hover)
    &:hover
      .card-content
        opacity: 1
        &::after
          opacity: .5
      .image
        background-blend-mode: overlay 
        background-color: $orange
        

.project
  cursor: pointer  

  .image-container
    overflow: hidden

  .image
    overflow: hidden
    background-size: cover
    background-repeat: no-repeat 
    background-position: left center
    background-color: rgba(0,0,0,0.0)
    transform: translateZ(0)
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out
    width: 100%
    height: 100%
    padding-top: 75%

    

  .card-content
    +media('>=desktop-large')
      padding: 2rem
    height: 100%
    width: 100%
    padding: 1rem
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    z-index: 1
    opacity: 0
    transition: opacity 1s ease
    &::after
      content: ''
      width: 100%
      height: 100%
      top: 0
      left: 0
      display: block
      position: absolute
      background-color: $orange
      z-index: -1
      opacity: 0
      transition: opacity .5s ease

    .content
      margin-bottom: .25rem
      
    h6,
    h5,
    p 
      line-height: 1.2rem
        
    h6 
      +media('>=tablet')
        font-size: 32px
        line-height: 36px
      
    h5  
      +media('>=tablet')
        font-size: 40px
        line-height: 44px

    p 
      +media('>=tablet')
        font-size: 21px
        line-height: 24px
      +media('<=phone-large')
        display: none