@import './src/assets/sass/base'

.project-detail-container
  +media ('<=tablet')
    //padding-top: 7rem
  //padding: 8rem 1.5rem 1.5rem
  padding: 0
  //background-color: $grey
  //border: .75rem solid $white  
  
  .project-detail
    //padding: 0 2.5%
    
    

  .project-detail-wrapper
    //padding: 0 1.5rem
    max-width: 1280px
    margin: 0 auto
    //box-shadow: 0 2px 40px 0 rgba(0,0,0,0.50)

    .project-detail-content
      +media ('<=tablet')
        margin: 1rem
        padding: 1rem
      background-color: $white
      //z-index: 999
      //display: flex
      //margin: 70% 2.5% 0 
      padding: 3rem
      position: relative

    .thumbnail-text  
      transition: opacity 1s ease-out

      &.fadeIn
        opacity: 1


.thumb-container
  width: 100%
  //height: 100%
  background-size: cover
  background-position: left center
  background-repeat: no-repeat
  overflow: hidden
  //position: fixed
  z-index: -1
  top: 0
  

.column
  +media ('<=tablet')
    //margin: 25px

  h1
    color: $black
    font-weight: $weight-normal
    
h1,
h2,
p
  +media ('<=tablet')
    //margin-left: 0

.thumbnail
  figure
    //opacity: 0
    //animation-fill-mode: forwards
    //animation-name: fadeIn
    //animation-duration: 2000ms
    //animation-delay: 750ms

img
  //box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1)


.thumbnail-text
  overflow: hidden
  h1,
  h2
    //opacity: 0
    //animation-fill-mode: forwards
    //animation-name: fadeDown
    //animation-duration: 500ms
  h2
    //animation-delay: 250ms
    margin-bottom: 1rem

  .line
    +media ('<=tablet')
      margin-left: 0
    height: 1px
    background-color: $orange
    margin-bottom: 1rem
    width: 100%
    display: block
    //animation-name: growRight
    //animation-fill-mode: forwards
    //animation-duration: 2s
    //animation-delay: 500ms

.caption
  +media ('<=tablet')
    order: 2
  order: -1
  font-size: 24pt
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
  color: $black
  padding-bottom: 50px

.detail-footer
  margin: 0
  //background-color: transparent
  &.columns
    margin-bottom: 0

  .button-container
    position: relative
    overflow: hidden
    text-align: center
    padding: 0
    
    &:hover

      .button
        transform: scale(1.1)
        &.is-animating
          transform: scale(1)
        
    .text-wrap
      +media('<=450px')
        font-size: 1rem
        min-width: 80%

      margin: 0 auto
      position: absolute
      min-width: 60%
      top: 50%
      left: 50%
      z-index: 2
      transform: translate(-50%, -50%)
      cursor: pointer

      h5
        color: $white

    .button
      height: 100px
      border-radius: 0
      width: 100%
      height: 100%
      background-position: left center
      background-size: cover
      background-repeat: no-repeat
      background-blend-mode: overlay 
      background-color: $orange
      font-size: 2rem
      height: 16rem
      color: $white
      backface-visibility: hidden
      border-width: 0
      transition: transform 1000ms ease-in-out
      z-index: 1
      
      &::before
        content: ' '
        width: 100%
        height: 100%
        background-color: $orange
        opacity: .5
        top: 0
        position: absolute

      &:hover, 
      &:focus, 
      &:active
        //border: 1px solid $med-grey
        box-shadow: none

.video
  position: relative 
  padding-bottom: 56.25%
  overflow: hidden

  iframe,
  obect,
  embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%


.picture
  +media ('<=tablet')
    margin: 2rem 0
  margin: 6rem 0 
  
  figure img
    width: 100%

  .column.is-8
    //margin-left: 2rem
  
  .caption
    //padding: 0

  &.is-showing
    animation-duration: 1000ms
    animation-fill-mode: forwards
    animation-name: fadeUp


  //icon scroll
.icon-scroll,
.icon-scroll:before
  position: absolute
  left: 50%

.icon-scroll
  width: 40px
  height: 70px
  margin-left: -20px
  top: 50%
  margin-top: -35px
  box-shadow: inset 0 0 0 1px #fff
  border-radius: 25px

.icon-scroll:before
  content: ''
  width: 8px
  height: 8px
  background: #fff
  margin-left: -4px
  top: 8px
  border-radius: 4px
  animation-duration: 1.5s
  animation-iteration-count: infinite
  animation-name: scroll

@keyframes scroll
  0%
    opacity: 1
  100%
    opacity: 0
    transform: translateY(46px)

//mouse scroll

$colorBg: #c0c0c0 
$colorOutline: white
$colorOutlineFade: #4e5559

$widthMouse: 52px
$heightMouse: 88px
$borderMouse: 6px

$posMouse: 8px
$posText: 2px

$sizeTrackball: 10px
$posTrackball: 20px
$shrinkTrackball: 0.4

$animDuration: 5s

=bgGradient
  background: $colorOutlineFade linear-gradient(transparent 0%, transparent 50%, $colorOutline 50%, $colorOutline 100%)

.icon-scroll-container
  position: fixed
  left: 50%
  top: 40%

  p
    margin-top: 0px
    font-family: "Work Sans", sans-serif
    letter-spacing: 12px
    text-indent: 12px
    color: $colorOutline
    text-transform: uppercase
    text-align: center
    position: relative
    left: -50%
    animation: colorText $animDuration ease-out infinite, nudgeText $animDuration ease-out infinite

.mouse
  +bgGradient
  position: relative
  margin: 0 auto 50px
  width: $widthMouse
  height: $heightMouse
  left: -50%
  top: -50%
  border-radius: 100px
  background-size: 100% 200%
  animation: colorSlide $animDuration linear infinite, nudgeMouse $animDuration ease-out infinite
  &:before,
  &:after
    content: ""
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
  &:before
    width: $widthMouse - $borderMouse
    height: $heightMouse - $borderMouse
    background-color: $colorBg
    border-radius: 100px
  &:after
    background-color: $colorOutline
    width: $sizeTrackball
    height: $sizeTrackball
    border-radius: 100%
    animation: trackBallSlide $animDuration linear infinite

@keyframes colorSlide
  0%
    background-position: 0% 100%
  20%
    background-position: 0% 0%
  21%
    background-color: $colorOutlineFade
  29.99%
    background-color: $colorOutline
    background-position: 0% 0%
  30%
    background-color: $colorOutlineFade
    background-position: 0% 100%
  50%
    background-position: 0% 0%
  51%
    background-color: $colorOutlineFade
  59%
    background-color: $colorOutline
    background-position: 0% 0%
  60%
    background-color: $colorOutlineFade
    background-position: 0% 100%
  80%
    background-position: 0% 0%
  81%
    background-color: $colorOutlineFade
  90%, 100%
    background-color: $colorOutline


@keyframes trackBallSlide
  0%
    opacity: 1
    transform: scale(1) translateY(-$posTrackball)
  6%
    opacity: 1
    transform: scale(0.9) translateY($posTrackball / 4)
  14%
    opacity: 0
    transform: scale($shrinkTrackball) translateY($posTrackball * 2)
  15%, 19%
    opacity: 0
    transform: scale($shrinkTrackball) translateY(-$posTrackball)
  28%, 29.99%
    opacity: 1
    transform: scale(1) translateY(-$posTrackball)
  30%
    opacity: 1
    transform: scale(1) translateY(-$posTrackball)
  36%
    opacity: 1
    transform: scale(0.9) translateY($posTrackball / 4)
  44%
    opacity: 0
    transform: scale($shrinkTrackball) translateY($posTrackball * 2)
  45%, 49%
    opacity: 0
    transform: scale($shrinkTrackball) translateY(-$posTrackball)
  58%, 59.99%
    opacity: 1
    transform: scale(1) translateY(-$posTrackball)
  60%
    opacity: 1
    transform: scale(1) translateY(-$posTrackball)
  66%
    opacity: 1
    transform: scale(0.9) translateY($posTrackball / 4)
  74%
    opacity: 0
    transform: scale($shrinkTrackball) translateY($posTrackball * 2)
  75%, 79%
    opacity: 0
    transform: scale($shrinkTrackball) translateY(-$posTrackball)
  88%, 100%
    opacity: 1
    transform: scale(1) translateY(-$posTrackball)


@keyframes nudgeMouse
  0%
    transform: translateY(0)
  20%
    transform: translateY($posMouse)
  30%
    transform: translateY(0)
  50%
    transform: translateY($posMouse)
  60%
    transform: translateY(0)
  80%
    transform: translateY($posMouse)
  90%
    transform: translateY(0)


@keyframes nudgeText
  0%
    transform: translateY(0)
  20%
    transform: translateY($posText)
  30%
    transform: translateY(0)
  50%
    transform: translateY($posText)
  60%
    transform: translateY(0)
  80%
    transform: translateY($posText)
  90%
    transform: translateY(0)


@keyframes colorText
  21%
    color: $colorOutlineFade
  30%
    color: $colorOutline
  51%
    color: $colorOutlineFade
  60%
    color: $colorOutline
  81%
    color: $colorOutlineFade
  90%
    color: $colorOutline
