<div class="icon-scroll-container" #iconScrollContainer>
        <div class='mouse'></div>
        <p>scroll</p>
</div>
<div class="project-detail-container">
    <div class="project-detail" *ngIf="project">
        <div class="thumb-container" 
        [style.background-image]="'url(' + project.thumbUrl.url + ')'"
        [style.height]="winHeight + 'px'"
        >
        </div>
        <div class="project-detail-wrapper">
            <div class="project-detail-content" ><!--[style.margin-top]="'-' + winHeight/3 + 'px'"-->
                <div class="thumbnail " #thumbnail>
                    <div class="thumbnail-text ">
                        <h1 class="title" >{{project.name}}</h1>
                        <h5 class="subtitle">{{project.category}}</h5>
                        <span class="line"></span>
                        <div class="columns">
                            <div class="column" *ngIf="project.problem">
                                <h6 class="dark-type">Problem</h6>
                                <p style="white-space:pre-wrap">{{project.problem}}</p>
                            </div>
                            <div class="column" *ngIf="project.solution">
                                <h6 class="dark-type">Solution</h6>
                                <p style="white-space:pre-wrap">{{project.solution}}</p>
                            </div>
                            <div class="column" *ngIf="project.tags">
                                <h6 class="dark-type">Skills</h6>
                                <ul *ngFor="let tag of project.tags" >
                                    <li>{{tag}}</li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="picture" 
                    *ngFor="let p of project.projectPics"
                    [class.is-showing]="isShowing"
                    #picture>
                    <div *ngIf="p.caption" class="caption">
                        <h5>{{p.caption}}</h5>
                    </div>
                    <div class="">
                        <figure>
                            <img src="{{p.url}}" alt="">
                        </figure>
                    </div>
                            
                </div>
                <div class="video" *ngIf="project.video" [innerHtml]="embed">
                </div>
            </div>
        </div>
    </div>
    <div class="detail-footer level is-mobile columns" >
        <div class="column is-12 button-container" (click)="onNext()" *ngIf="nextProject">
            <div class="text-wrap">
                <h5 class="dark-type">Next Project:</h5>
                <h1 class="light-type has-shadow">{{nextProject.name}}</h1>
            </div>
            <button class="level-item button" [class.is-animating]="loading" [style.background-image]="'url(' + nextProject.thumbUrl.url + ')'"  ></button>
        </div>
    </div>
</div>