<div class="menu" [class.active]="isActive" (click)="active(name)">
    <h6>menu</h6>
</div>
<div class="overlay" [class.open]="isActive" >
    <nav class="overlay-menu">   
    <ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/slider']" (click)="active('slider')">Home
                <span></span>
            </a>
            
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
            <a [routerLink]="['/projects']" (click)="active('projects')">Work
                <span></span>
            </a>
            
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
            <a [routerLink]="['/about']" (click)="active('projects')">About</a>   
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
            <a [routerLink]="['/contact']" (click)="active('projects')">Contact</a>
        </li>
         <li routerLinkActive="active">
            <a [routerLink]="['/projects', 0, 'edit']" (click)="active('add project')">Add Project</a>
        </li>
        <li *ngIf="!_authService.isLoggedIn()">
            <a [routerLink]="['/login']" (click)="active('login')">Log In</a>
        </li>
        <li *ngIf="_authService.isLoggedIn()">
            <a (click)="logOut()" (click)="active('logout')">Log Out</a>
        </li>
    </ul>
    </nav>
</div>