<transition-overlay  (appReadyEvent)="handleAppReady($event)" (loadingPage)="loadingPage()" (stopLoadingPage)="stopLoadingPage()"></transition-overlay>
<header #header>
    <div class="navbar is-transparent">
        <div class="navbar-brand kone-logo">
            <a class="navbar-item " [routerLink]="['/slider']" queryParamsHandling="preserve"> 
                <img src="assets/img/k-logo.svg" alt="Kone Lathipanya Logo">
            </a>
            <div class="navbar-burger">
                <div class="navbar-item">
                    <nav-component></nav-component>
                </div>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="main-title  navbar-item">
                    <h1 class="title is-4" [style.color]='color'>{{name}}</h1>
                    <p class="subtitle is-6" >{{title}}</p>
                </div>
            </div>
            <div class="navbar-end">
                <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navbar-item" [routerLink]="['/projects']" >Work</a>
                <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navbar-item" [routerLink]="['/about']" >About</a>   
                <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navbar-item" [routerLink]="['/contact']" >Contact</a>
            </div>
        </div>
    </div>
</header> 
    
<section id="main-area" [class.noScroll]="loading" [class.is-animating]="isAnimating" [@routeAnimation]="getState(myOutlet)" >
    <router-outlet #myOutlet="outlet" ></router-outlet>
</section>
<!--<section id="popup-container">
    <a *ngIf="!_messageService.isDisplayed" (click)="displayMessages()"> Show Messages</a>
    <a *ngIf="_messageService.isDisplayed" (click)="hideMessages()"> Hide Messages</a>
    <router-outlet id="popup" name="popup"></router-outlet>
</section>-->
