@import './src/assets/sass/base'

header
  position: absolute
  width: 100%

  .nav
    background-color: $transparent
    text-align: left
    margin: 1.5rem

    h1
      +media('<400px')
        display: none
      letter-spacing: 1px
      color: $white
      font-weight: 400

    p
      +media('<400px')
        display: none
      letter-spacing: 1.8px
      font-weight: 400

    .kone-logo
      position: absolute

      .nav-item
        //margin: -4px 0 0 -4px

        img
          max-height: 3.5rem
          display: inline-block
          float: left
          margin-left: -4px
        

.main-title
  text-transform: uppercase
  letter-spacing: 2px
  display: block
  float: left
  padding-left: .25rem

  h1
    margin-bottom: 1.4rem

#main-area
  box-sizing: border-box
  width: 100%
  height: 100%

