<transition-overlay (loadingPage)="loadingPage()" (stopLoadingPage)="stopLoadingPage()"></transition-overlay>
<header>
    <div class="nav">
        <div class="nav-left kone-logo">
            <a class="nav-item"> 
                <img src="assets/img/k-logo.svg" alt="Kone Lathipanya Logo">
                <div class="main-title nav-item">
                    <h1 class="title is-4 " [style.color]='color'>{{name}}</h1>
                    <p class="subtitle is-6" >{{title}}</p>
                </div>
            </a>
        </div>
        <div class="nav-right">
            <nav-component></nav-component>
        </div>
    </div>
</header> 
    
<section id="main-area" [class.noScroll]="loading"  >
    <router-outlet></router-outlet>
</section>
<!--<section id="popup-container">
    <a *ngIf="!_messageService.isDisplayed" (click)="displayMessages()"> Show Messages</a>
    <a *ngIf="_messageService.isDisplayed" (click)="hideMessages()"> Hide Messages</a>
    <router-outlet id="popup" name="popup"></router-outlet>
</section>-->
