@import './src/assets/sass/base'

header
  position: absolute
  width: 100%

  .nav
    background-color: $transparent

  h1
    +media('<400px')
      display: none
    letter-spacing: 1px
    color: $white
    font-weight: 400

  p
    +media('<400px')
      display: none
    margin-left: -1px
    letter-spacing: 2px

  .kone-logo
    margin-top: 25px
    position: absolute
    img
      max-height: 3rem
      display: inline-block
      margin-left: 25px
      float: left
      transform: scale(1.1)

.main-title
  text-transform: uppercase
  letter-spacing: 2px
  display: block
  float: left

#main-area
  box-sizing: border-box
  width: 100%
  height: 100%

