@import './src/assets/sass/base'

//override img max-width of 100%
img
  max-width: none

#slider-area
  background-color: $grey
  border: .75rem solid $white
  overflow: hidden
  top: 0
  bottom: 0
  left: 0
  right: 0
  position: fixed

.slide-container
  position: absolute
  float: none
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow: hidden

  .project-hero
    visibility: visible
    position: absolute
    width: 100%
    height: 100%
    overflow: hidden
    background-color: $grey
    background-size: cover
    background-repeat: no-repeat 
    background-position: center center

    a
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      height: 100%
      width: 100%

    img
      position: absolute

    h1, h5
      +media ('<=450px')
        font-size: 1.25rem
        width: 100%

      +media ('<=650px', '>450px')
        font-size: 1.75rem

      +media ('<=tablet', '>650px')
        font-size: 2.5rem

      width: 90%
      font-weight: $weight-normal
      color: $white
      
    
    h5 
      +media ('<=450px')
        font-size: .75rem
        width: 90%

      +media ('<=tablet', '>450px')
        font-size: 1.5rem

      color: $black

  .active

    .proj-title
      overflow: hidden
      //width: 90%

.proj-title
  +media ('>desktop')
    width: 33.3%
  +media('<450px')
    padding-left: 1rem
  
  background-color: rgba(255,143,0, .9)
  display: flex
  position: absolute
  align-items: center
  height: 100%
  width: 50%
  overflow: hidden
  top: 0
  left: 0
  padding-left: 2rem

.next-button,
.prev-button
  width: 30px
  height: 30px
  position: absolute
  right: 24px
  z-index: 100
  cursor: pointer
  border: 1px solid $black
  opacity: 1
  transition: background-color 300ms, border 300ms cubic-bezier(.77, 0, .175, 1)

  &:hover
    background-color: $orange
    border: 1px solid $orange

  &:active
    background-color: $black

.next-button:hover::after,
.prev-button:hover::after
  border-top: 1px solid $white
  border-right: 1px solid $white

.next-button::after,
.prev-button::after
  content: ''
  height: 12px
  width: 12px
  border-top: 1px solid $black
  border-right: 1px solid $black
  display: block
  position: absolute

.next-button
  bottom: 20px

  &::after
    bottom: 12px
    left: 8px
    transform: rotate(135deg)

.prev-button
  bottom: 60px

  &::after
    top: 12px
    left: 8px
    transform: rotate(-45deg)

// Carousel Styles
.indicators
  +media ('<450px')
    transform: scale(.75)
    //left: 1rem
    top: 4.5rem
  //background-color: orange
  width: 30px
  height: 100px
  display: block
  position: absolute
  z-index: 99
  top: 5.5rem
  left: 2rem

  .dots
    margin: 0
    padding: 0
    //margin-top: -9px
    list-style: none
    
    position: absolute
    top: 0
    white-space: nowrap
    text-align: center
    width: 100%

    li
      margin-bottom: 0px

    a
      width: 30px
      height: 1px
      padding: 8px 0
      cursor: pointer
      display: block

      &:hover

        &::before
          background: $orange

        .current-dot
          background: $black

      &::before
        content: ''
        width: 30px
        height: 1px
        background-color: $white
        display: block
        margin-top: -3px

    span
      display: block
      width: 0
      height: 1px
      z-index: 900
      margin-top: -1px
      background-color: $black
      transition: width 500ms cubic-bezier(.23, 1, .32, 1)

      &.current-dot
        background-color: $black
        width: 30px