<div id="slider-area"
    [@pageTransitionTrigger]="[clicked]"
    (swipeup)="navigate(1, $event)"
    (swipeleft)="navigate(1, $event)"
    (swipedown)="navigate(-1, $event)"
    (swiperight)="navigate(-1, $event)"
    (window:resize)="onResize($event)"
    mouseWheel
    (mouseWheelUp) = "mouseWheelUpFunc($event)" 
    (mouseWheelDown) = "mouseWheelDownFunc($event)"
>
    <div id="indicators" class="indicators">
        <ul class="dots">
            <li *ngFor="let slide of slides; let indicatorIndex = index">
                <a  (click)='navigateToProj(indicatorIndex)'>
                    <span [class.current-dot]="slide['active']" ></span>
                </a>
            </li>
        </ul>
    </div>
    <div id="next-button" class="next-button" (click)='navigate(1)' ></div>
    <div id="prev-button" class="prev-button" (click)='navigate(-1)' ></div>
    <div class="slide-container" >
        <div  
            *ngFor="let slide of slides; let projectIndex = index" 
            [attr.data-index]="projectIndex" class="project-hero" 
            [class.active]="slide['active']" 
            [@slideTrigger]="slide['transition']"
            (@slideTrigger.start)="animStart($event)"
            (@slideTrigger.done)="animDone($event)"
        >
            <a  (click)='pageTransition($event)'>
                <img  
                    [src]='slide.thumbUrl.url' 
                    [style.width.px]="imgWidth" 
                    [style.height.px]="imgHeight" 
                    [style.top.px]="imgPosTop" 
                    [style.left.px]="imgPosLeft" 
                />
                <div class="proj-title" [@projTitleTrigger]="slide['projTitleState']">
                    <h1 class="title is-1" [innerText]='slide.name' ></h1>
                    <h5 class="subtitle" >{{slide.category}}</h5>
                </div>
            </a>
        </div>
    </div>
    
</div>
