
<div id="slider-area"
    (swipeup)="navigate('next', $event)"
    (swipeleft)="navigate(1, $event)"
    (swipedown)="navigate('prev', $event)"
    (swiperight)="navigate(-1, $event)"
    (window:resize)="onResize()"
    mouseWheel
    (mouseWheelUp) = "mouseWheelUpFunc($event)" 
    (mouseWheelDown) = "mouseWheelDownFunc($event)"
>
    <div id="indicators" class="indicators">
        <ul class="dots">
            <li *ngFor="let slide of slides; let indicatorIndex = index" [title]='slide.name'>
                <a  (click)='navigateToProj(indicatorIndex)' >
                    <span [class.current-dot]="slide['active']" ></span>
                </a>
            </li>
        </ul>
    </div>
    <a id="next-button" class="next-button"  (click)='navigate("next")' ></a>
    <a id="prev-button" class="prev-button"  (click)='navigate("prev")' ></a>
    <div class="slide-container">
        <div  
            *ngFor="let slide of slides; let projectIndex = index" 
            [attr.data-index]="projectIndex" 
            class="project-hero"
            id="project{{projectIndex}}"
            [class.active]="slide['active']"
            [style.background-image]="'url(' + slide.thumbUrl.url + ')'">
            <a  [routerLink]= "['/projects', slide.id]" >
                <!--<img  
                    [src]='slide.thumbUrl.url' 
                    [ngStyle] = "getSliderImgDim(projectIndex)"
                />-->
                <div class="proj-title">
                    <div id="projTitle{{projectIndex}}">
                        <h1 class="title is-1" [innerText]='slide.name' ></h1>
                        <h5 class="subtitle is-3" >{{slide.category}}</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
</div>
