@import '~bulma/sass/utilities/initial-variables'

//override primary color
$primary: #ff8f00 

// Colors
$black: #000
$white: #fff
$grey: #eee
$med-grey: #dbdbdb
$dark-grey: #999
$orange: #ff8f00
$red: #ff0
$blue: #007acc
$transparent: transparent


//override navbar max img height
$navbar-item-img-max-height: 3.5rem

@import '~bulma/bulma'

.box
  border-radius: 0
  padding: .75rem

//override link color
a 
  color: $primary

@import '~include-media/dist/_include-media'

// Fonts
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,200,100,300,500,600,700,800,900)
$primary-font: 'Work Sans', sans-serif




// No Scroll
.noScroll
  position: fixed
  overflow-y: scroll
  width: 100%

//Spin Animation
@keyframes spin
    0%
      transform: rotate(0deg)

    100%
      transform: rotate(359deg)

// Fade Up Animation
@keyframes fadeUp
    from
      margin-top: 50px
      opacity: 0

    to
      margin-top: 0px
      opacity: 1

// Fade Down Animation
@keyframes fadeDown
    from
      transform: translateY(-50px)
      opacity: 0

    to
      transform: translateY(0px)
      opacity: 1


// Fade In Animation
@keyframes fadeIn
    from
      opacity: 0

    to
      opacity: 1

// Grow Right Animation
@keyframes growRight
    0%
      width: 0%
    100%
      width: 100%

// Fade In from right
@keyframes fadeInRight
  0%
    opacity: 0
    transform: translateX(50%)

  100%
    opacity: 1
    transform: translateX(0px)

// Fade In from left
@keyframes fadeInLeft
  0%
    opacity: 0
    transform: translateX(-50%)

  100%
    opacity: 1
    transform: translateX(0px)



