@import '~bulma/sass/utilities/initial-variables'
//overide img max-width of 100%
img
    max-width: none

@import '~bulma/bulma'

@import '~include-media/dist/_include-media'

// Fonts
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,200,100,300,500,600,700,800,900)
$primary-font: 'Work Sans', sans-serif

// Colors
$black: #000
$white: #fff
$grey: #eee
$dark-grey: #999
$orange: #ffa500
$red: #ff0
$blue: #007acc
$transparent: transparent




